@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-self: center;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}







